<ion-view title="Ticket">
    <ion-content class="has-header">
        <ion-nav-buttons side="right">
        </ion-nav-buttons>

        <div>
            <div class="row">
                <div class="col col-70">
                    <h3>{{printticket.title}}</h3>
                    <p>
                        <b>From:</b>{{printticket.startdate}}, {{printticket.starttime}} - {{printticket.enddate}},{{printticket.endtime}}
                    </p>
                    <p>
                        <b>Location:</b>{{printticket.city}}
                    </p>
                </div>
                <div class="col col-30">
                    <img ng-repeat="value in printticket.usertickets" src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{value.quantity}}" ng-show="qrcode" alt="Scan the code" class="img-responsive qrcode">
                    <div>
                    <img src="{{imagepath+'sponsor/'+imageqrpost}}" class="qrcodeimg" ng-class="postqrimage" height="100px" width="202px">
                    </div>
                    <div ng-show="prebanner">
                    <img src="{{imagepath+'sponsor/'+imageqrpre}}" class="qrcodeimg" ng-class="predisplay" height="100px" width="202px">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col col-70">
                    <div class="row">
                        <div class="col">
                        <img src="{{imagepath+'sponsor/'+image[1]}}" height="100%" width="100%">
                        </div>
                        <div class="col">
                        <img src="{{imagepath+'sponsor/'+image[2]}}" height="100%" width="100%">
                        </div>
                        <div class="col">
                        <img src="{{imagepath+'sponsor/'+image[3]}}" height="100%" width="100%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        <img src="{{imagepath+'sponsor/'+image[4]}}" height="100%" width="100%">
                        </div>
                        <div class="col">
                        <img src="{{imagepath+'sponsor/'+image[5]}}" height="100%" width="100%">
                        </div>
                        <div class="col">
                        <img src="{{imagepath+'sponsor/'+image[6]}}" height="100%" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col col-30">
                <div>
                    <table class="table">
                <thead>
                    <tr>
                        <th><b>Ticket Category</th>
                        <th><b>Ticket Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="value in printticket.usertickets">
                        <td>{{value.ticket}}</td>
                        <td>{{value.quantity}}</td>
                        
                    </tr>
                </tbody>
            </table>
                </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col col-5">
                <button class="button button-small button-balanced">
                  Print
                </button>
            </div>
        </div> -->
        
    </ion-content>
</ion-view>
